/*this is how to inject pictures into those funny jumbotrons*/
/*LOGIN PAGE*/
.jumbotron {
	align-self: flex-end;
	background: transparent;
	color: #fff;
}
.login {
	background: url("../images/login-page.png") no-repeat;
	min-height: 100vh;
	margin: 0;
	padding: 200px 0 100px;
	color: black;
	background-size: 150%;
}
