/**
*this is css for select nav on noteType form
  **/
.form-control-1 {
	 width: 75%;
 }

/*this is how to inject pictures into those funny jumbotrons*/
/*HOME PAGE*/
.jumbotron {
	align-self: flex-end;
	background: transparent;

}


.login {
	background: url("images/computer-image.png");
	background-size: 100%;
	min-height: 100vh;
}

/*LOGIN PAGE*/
div.signup-content {
	background-image: url("images/computer-image.png");
	background-size: 100%;
	min-height: 100vh;

}

/*SIGN IN PAGE*/
div.signin-content{
	background-image: url("images/computer-image.png");
	background-size: cover;
	min-height: 100vh;
	border-radius: 0;
	padding-top: 15%;
}
.index-div {
	padding-right:0;
	padding-left: 0;
}
/*to cancel out the margin of sign in*/
.jumbotron {
	margin-bottom: 0px;
}
