/**
*this is css for select nav on noteType form
  **/
.form-control-1 {
	 width: 75%;
 }

/*this is how to inject pictures into those funny jumbotrons*/
/*HOME PAGE*/
.jumbotron {
	background: url("images/login-page.png");
	align-self: flex-end;
	background: transparent;

}

textarea {
	resize: none;
}

.login {
	background: url("images/login-page.png");
	background-size: 100%;
	min-height: 100vh;
}

/*LOGIN PAGE*/
div.signup-content {
	background-image: url("images/login-page.png");
	background-size: 100%;
	min-height: 100vh;

}

/*SIGN IN PAGE*/
div.signin-content{
	background-image: url("images/login-page.png");
	background-size: cover;
	min-height: 100vh;
	border-radius: 0;
	padding-top: 15%;
}

.index-div {
	padding-right:0;
	padding-left: 0;
}

/*to cancel out the margin of sign in*/
.jumbotron {
	margin-bottom: 0px;
}

/*application page*/

.table-table-bordered-table-hover{
	background-color: #cccd6f;

}
div.input-group-addon{
	color: #1016ff;
}

div.form-group{
	background-color: transparent;
}


/*application page*/

.application-page{
	background-color:ivory;
}

.table-application {
	background-color: rgba(65, 182, 230, 1.0);
	box-shadow: royalblue;
}

	tbody.application-tabel {
	background-color: whitesmoke;

}


/* Begin Nav bar css*/
nav.navbar.navbar-default{
	background-color: rgba(65, 182, 230, 1.0);
	border: 5px solid rgba(246, 190, 0, 1.0);
	border-color: rgba(246, 190, 0, 1.0);
	padding-bottom: 5rem;
	header-wraper:rgba(246, 190, 0, 1.0);
	text-color:navyblue;
}



/*parking page*/


.parking-page{
	background-color:ivory;

}
.table-bordered{
	border: 5px solid #4c3cce;
	background-color: rgba(246, 190, 0, 1.0);
}

.parking-table {
	background-color: rgba(65, 182, 230, 1.0);
	box-shadow: royalblue;
}

tbody.application-tabel {
	background-color: whitesmoke;

}

/*Note Type*/
tbody.noteType {
	background-color: #b3deb4;
}