/**
* this is css for select nav on noteType form
**/
.form-control-1 {
	 width: 75%;
 }

/*this is how to inject pictures into those funny jumbotrons*/
/*HOME PAGE*/
.jumbotron {
	background: url("images/login-page.png");
	align-self: flex-end;
	background: transparent;
}

textarea {
	resize: none;
}

.login {
	background: url("images/login-page.png");
	background-size: 100%;
	min-height: 100vh;
}

/*LOGIN PAGE*/
div.signup-content {
	background-image: url("images/login-page.png");
	background-size: 100%;
	min-height: 100vh;
	padding-left: 15px;
}

/*SIGN IN PAGE*/
div.signin-content{
	background-image: url("images/login-page.png");
	background-size: cover;
	min-height: 100vh;
	border-radius: 0;
	padding-top: 15%;
}

.index-div {
	padding-right:0;
	padding-left: 0;
}

/*to cancel out the margin of sign in*/
.jumbotron {
	margin-bottom: 0;
}

/* Begin Nav bar css*/
nav.navbar.navbar-default {
	background-color: #434244;
	border: 5px solid #fcd02f;
	border-color: #fcd02f;
	padding-bottom: 5rem;
	header-wraper: fcd02f;
	text-color: navyblue;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #000;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
	color: #333;
}


/*Note Type*/
tbody.noteType {
	background-color: #b3deb4;
}