<phpunit>
	<testsuites>
		<testsuite name="AAAA Data Design">
			<file>ApplicationCohortTest.php</file>
			<file>ProspectCohortTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../classes</directory>
		</whitelist>
	</filter>
</phpunit>