<phpunit>
	<testsuites>
		<testsuite name="AAAA Data Design">
			<file>PlacardTest.php</file>
			<file>SwipeTest.php</file>
			<file>CohortTest.php</file>
			<file>ApplicationCohort.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../classes</directory>
		</whitelist>
	</filter>
</phpunit>